body {
  min-width: 320px;
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
