:root {
  --font-main: "Roboto", Arial, sans-serif;

  --color-text: #000;
  --color-text-inverse: #fff;
  --color-text-muted: #9b9b9b;
  --color-inactive: #c4c4c4;
  --color-bg: #f1f1f1;
  --color-accent: #d8bf95;
  --color-social: #e5e5e5;

  --container-width: 1312px;
  --container-padding: 64px;
}

@media (max-width: 1024px) {
  :root {
    --container-padding: 20px;
  }
}
